html{background: black;
	background-size:cover;
	

}

.container{
	background:blue;
	font-family: 'Fontdiner Swanky', cursive;
	width:960px;
	margin-left: 200px;
	border: 10px solid yellow;
	padding-bottom: 100px;

}


#header{
	color:yellow;
	display:flex;
	justify-content: center;
	text-align: center;
	font-size: 87px;
	margin-top: 23px;
	text-shadow: 5px 5px 40px rgba(10, 10, 10, 1);
}

#rim{
	width: 200px;
	margin-top: 90px;
	margin-bottom: -160px;

}

button{
	background-color: yellow;
	border:2px solid black;
	color:black;
	width: 150px;
	border-radius: 25px; 
	font-family: 'Mogra', cursive;
	font-size: 17px;
	cursor: pointer;
}

#show-input{
	background: yellow;
	border-radius: 25px;
	width:210px;
	height: 27px;
	color:black;
	font-family: 'Mogra', cursive;
	border:5px solid black;
	margin-top:60px;
	font-size:20px;
}

#show-form{
	justify-content: center;
	text-align: center;
	color:white;
	margin-top: -100px;
	margin-bottom:-50px;
	font-family: 'Mogra', cursive;
	font-size: 30px;
}

#addshow{
	justify-content: center;
	text-align: center;
	background: yellow;

}

#buttonsView{
	justify-content: center;
	text-align: center;
}
 

#gifsView{
	column-count:2;
	column-width: 250px;
	column-gap:5px;
	margin-top:100px;
	margin-left: 100px;
	margin-right: 150px;
	border-radius: 25px;
	
}

.gifs{
	background: url("../images/nba-logo.png");
	background-size: 50px;
	background-color: yellow;
	justify-content: center;
	text-align:center;
	font-size: 25px;
	margin-bottom:10px;
	margin-top: 10px;
	margin-left: 20px;
	color:black;
	padding-top:10px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	border:5px solid black;
	border-radius: 25px;
}



@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

img.gif{
	margin-top:50px;
	width:250px;
	border-radius: 25px;
	border:2px solid yellow;
}

#addShow{
	width:150px;
	font-size: 20px;
	color:black;
	height: 35px;
	background-color: yellow;
	color:black;
	font-family: 'Mogra', cursive;
	border:2px solid black;
	border-radius: 25px;
	margin-bottom: 60px;


}

#side{
	margin-top: -180px;
	margin-left: -70px;
}

#side2{
	margin-top: -200px;
	margin-left: 720px;
	margin-bottom: 10px;

}

